<header class="header-landing">
  <section class="divs-img-landing">
    <div class="divs-img-landing">
      <img src="/images/bolt-solid.svg" class="img-header-landing">
      <p class="punto-landing">@ViewBag.DatosUsuario.racha</p>
    </div>
    <div class="divs-img-landing">
      <img src="/images/coins-solid.svg" class="img-header-landing">
      <p></p>
    </div>
    <div class="divs-img-landing">
      <img src="/images/star-solid.svg" class="img-header-landing">
      <p class="punto-landing">@ViewBag.DatosUsuario.puntaje</p>
    </div>
  </section>

<nav class="header-index centrar">
  <ul class="nav-container">
    <li><a href='@Url.Action("Creditos","Home")'>Créditos</a></li>
    <li><a href='@Url.Action("RankingGlobal","Home")'>Ranking</a></li>
  </ul>
</nav>
<div class="perfil-header-landing">
  <img src="@ViewBag.DatosUsuario.foto" class="img-usu-landing">
  <p>@ViewBag.DatosUsuario.nombre</p>
</div>
</header>
<div class="main-start">
    <section>
      <div class="container-index main-div">
        <h1 class="title-land">¡A jugar!</h1>
        <p class="text-land">¿Estás listo para demostrar tus conocimientos?</p>
        <div class="BotonesIndex">
          <a href='@Url.Action("ConfigurarJuego","Home")'>
            <button class="play-button" onclick="playGame()">Jugar</button>
          </a>
          <a href='@Url.Action("ConfigurarJuego","Home")'>
          </a>
        </div>
      </div>
    </section>
  </div>
<script src="script.js"></script>
</div>