<section class="container-general-ruleta">

<header class="header-ruleta">
    <h2 class="nombre-usuario">@ViewBag.NombreUsuario</h2>
    <h2 class="puntaje-usuario">Puntaje: @ViewBag.Puntaje</h2>
</header>
<h2 class="txt-nro-preg">Pregunta Nro @ViewBag.Contador</h2>
<h1 class="titulo-pregunta">@ViewBag.Pregunta.Enunciado</h1>
@{
    int contador = 0;
}
<div class="contenedor-respuestas">
@foreach (Respuestas res in ViewBag.Respuestas)
{
    <form action='@Url.Action("VerificarRespuesta", "Home")' method="post" class="form-respuesta">
        <button type="submit" name="idRespuesta" value="@res.IdRespuesta" class="boton-respuesta">
            @res.Contenido
        </button>
        <input type="hidden" name="idPregunta" value="@ViewBag.Pregunta.IdPregunta" />
        <input type="hidden" name="idCategoria" value="@ViewBag.CategoRuleta" />
    </form>
    contador++;
}
<div type="hidden" class="ayuda-momentopreg">
</div>
</section>
