<h1>@ViewBag.Pregunta.Enunciado</h1>
@{
    int contador = 0;
}
@foreach (Respuestas res in ViewBag.Respuestas)
{
    <form action='@Url.Action("VerificarRespuesta", "Home")' method="post">
        <button name="idRespuesta" value="@contador">@res.Contenido</button>
    </form>
    contador++;
}
<form action='@Url.Action("VerificarRespuesta", "Home")' method="post">
    <input type="hidden" name="idPregunta" value="@ViewBag.Pregunta.IdPregunta" />
    <input type="hidden" name="idCategoria" value="@ViewBag.Pregunta.IdCategoria" />
</form>
